

.navbar-brand
{
    padding-top: 3%;
}

.slogan
{
    text-align: right;
}

#horizon
{
    background-color: black;
}

.codwz
{
    margin-bottom: 20px;
    margin-top: 20px;
}

.fortnite
{
    float: left;
}

.addnews1
{
    text-align: left;
    margin-top: 100px;
}

.startBar
{
    margin-bottom: 5px;
}
.download
{
    text-align: right;
}

.menu-item {
    font-weight: bold;
    background-color: #aec9a3;
    padding: 11px;
    margin: 9px;
    border-radius: 5px;
    height: 100px;
    background-size: 160px 100px;
}

.menu-item:hover
{
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
     transform: scale(1.1); 
}
.menu-item a {
    color: #FFFFFF;
    
}

.simulasyon
{
    background-image: url(img/linkbacground/simulasyon.jpg);
    background-repeat: no-repeat;
}

.moba
{
    background-image: url(img/linkbacground/moba.jpg);
    background-repeat: no-repeat;
}

.shooter
{
    background-image: url(img/linkbacground/shooter.jpg);
    background-repeat: no-repeat;
}

.sport
{
    background-image: url(img/linkbacground/sport.jpg);
    background-repeat: no-repeat;
}

.rpg
{
    background-image: url(img/linkbacground/rpg.jpg);
    background-repeat: no-repeat;
}

.idle
{
    background-image: url(img/linkbacground/idle.jpg);
    background-repeat: no-repeat;
}

.main-header {
    background-color: #013600;
    color: #e9e9e9;
    padding: 9px;
    font-size: 22px;
    font-style: italic;
    border-radius: 10px;
}

.m-t-10 {
    margin-top: 10px;
}

.color-white {
    color: white;
}

.color-white:hover{
    color: white;
}

.oyun-karti {
    background-color: #f1f1f1;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #d7d7d7;
    box-shadow: 1px 1px 5px 0px;
    cursor: pointer;
}

.week-video
{
    border-radius: 10px;
}

.news-line
{
    background: linear-gradient(to right,green,black);
    margin: 10px;
    padding: 2px;
}