.logo-palette-text
{
    font-family: "palette mosaic";
    font-size: 32px;
    color: black;
}



.navbar-brand
{
    padding-top: 3%;
}

.effect
{
    margin: 0 auto;
    font-family: 'Segoe UI', sans-serif;
}
.image-hove
{
    display: inline-block;
    margin: 10px;
    overflow: hidden;
    position: relative;
    border-radius: 4px;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.05);
}

.image-hove::before
{
    content: '';
    background: linear-gradient(to bottom, transparent 0%, rgba(0,0,0,0.7) 100%);
    width: 100%;
    height: 50%;
    position: absolute;
    top: 100%;
    transition-property: top,opacity;
    transition-duration: 0.3s;
}

.image-hove img
{
    display: block;
}

.detail-hove
{
    font-size: 16px;
    padding: 20px;
    color: #fff;
    position:absolute;
    bottom: 0;
    left: 0;
}

.detail-hove span
{
    display: block;
    position: relative;
    top: 100px;
    transition-property: top, opacity;
    transition-duration: 0.3s;
    transition-delay: 0s;
}

.head-hove
{
    line-height: 1;
    font-weight: bold;
    font-size: 27px;
    
}

.info-hove
{
    line-height: 1.2;
    margin-top: 5px;
    font-size: 18px;
    font-family: cursive;
}

.mini-h-hove
{
    font-size: 12px;
}

.mini-i-hove
{
    margin-top: 17px;
    font-size: 12px;
    letter-spacing: 0.5px;
    
}

.image-hove:focus:before,.image-hove:focus .span-hove, .image-hove:hover:before,.image-hove:hover .span-hove
{
    opacity: 1;
}

.image-hove:focus:before,.image-hove:hover:before
{
    top: 50%;
}

.image-hove:focus span,.image-hove:hover .span-hove
{
    top: 0;
}

.image-hove:focus .head-hove,.image-hove:hover .head-hove
{
    transition-delay: 0.15s;
}
.image-hove:focus .info-hove, .image-hove:hover .info-hove
{
    transition-delay: 0.25s;
}

.codwz
{
    margin-bottom: 20px;
    margin-top: 20px;
}

.fortnite
{
    float: left;
}

.menu-item {
    font-weight: bold;
    background-color: #aec9a3;
    padding: 11px;
    margin: 9px;
    border-radius: 5px;
    height: 100px;
    background-size: 160px 100px;
}

.menu-item:hover
{
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
     transform: scale(1.1); 
}
.menu-item a {
    color: #FFFFFF;
}

.simulasyon
{
    background-image: url(img/linkbacground/simulasyon.jpg);
    background-repeat: no-repeat;
}

.moba
{
    background-image: url(img/linkbacground/moba.jpg);
    background-repeat: no-repeat;
}

.shooter
{
    background-image: url(img/linkbacground/shooter.jpg);
    background-repeat: no-repeat;
}

.sport
{
    background-image: url(img/linkbacground/sport.jpg);
    background-repeat: no-repeat;
}

.rpg
{
    background-image: url(img/linkbacground/rpg.jpg);
    background-repeat: no-repeat;
}

.idle
{
    background-image: url(img/linkbacground/idle.jpg);
    background-repeat: no-repeat;
}

.main-header {
    background-color: #013600;
    color: #e9e9e9;
    padding: 9px;
    font-size: 22px;
    font-style: italic;
    border-radius: 10px;
}

.m-t-10 {
    margin-top: 10px;
}

.color-white {
    color: white;
}

.color-white:hover{
    color: white;
}

.oyun-karti {
    background-color: #f1f1f1;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #d7d7d7;
    box-shadow: 1px 1px 5px 0px;
    cursor: pointer;
}

.week-video
{
    border-radius: 10px;
}

.news-line
{
    background: linear-gradient(to right,green,black);
    margin: 10px;
    padding: 2px;
}

.wrapper .icon {
    position: relative;
    background-color: #ffffff;
    border-radius: 50%;
    margin: 10px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 22px;
    display: inline-block;
    align-items: center;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    color: #333;
    text-decoration: none;
}
  .wrapper .tooltip {
    position: absolute;
    top: 0;
    line-height: 1.5;
    font-size: 14px;
    background-color: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .wrapper .tooltip:before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background-color: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}
.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background-color: #3b5999;
  color: #ffffff;
}
.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background-color: #46c1f6;
  color: #ffffff;
}
.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background-color: #e1306c;
  color: #ffffff;
}
.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background-color: #333333;
  color: #ffffff;
}
.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background-color: #de463b;
  color: #ffffff;
}
.copyr-text
{
    text-align: center;
    font-family: "ingrid darling";
    text-shadow: 3px 5px 10px black;
    font-size: 27px;
}

.wrapper a {
    text-align: center;
}